$bezier: cubic-bezier(0.47, 1.64, 0.41, 0.8);

body {
  background-color: rgba(255, 227, 170);
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.box {
  position: absolute;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: $bezier;
  border-radius: 5%;
  opacity: 0.5;
}
